body {
    background-color: #f4eec4;
}

.row {
    padding: 100px;
}

.row-height {
    height: 70px;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
}

.a-1,.b-1,.c-1{
    background-color: #ee6e1cb;
}

.a-1 {
    border-radius: 15px 0 0 15px;
}

.c-1 {
    border-radius: 0 15px 15px 0;
}

.label-1 {
    font-size: x-large;
}


