.container {
    height: 70px;
    padding: 100px;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
}

.col-sm {
    background-color: #ee6e1cb;
    border-radius: 15px;
}

.label-1 {
    font-size: x-large;
}
