body {
    background: rgb(69,67,68);
    background: linear-gradient(90deg, rgba(69,67,68,1) 0%, rgba(164,159,159,1) 35%, rgba(68,64,64,1) 100%);
}

.row {
    padding: 100px;
}

.row-height {
    height: 70px;
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
}

.col-md-4,.col-md-2, .col-md-6 {
    background-color: #e3e3e3;
}

.col-md-4 {
    border-radius: 15px 0 0 15px;
    margin-right: 150px;
}

.col-md-2 {
    border-radius: 0 15px 15px 0;
}

.label-1 {
    font-size: x-large;
}


