.row {
    padding: 100px;
}

.row-height {
    height: 70px;
    text-align: center;
    padding-top: 5px;
}

#row-a-1,#row-a-2,#row-a-3 {
    background-color: #f5eec2;
    margin-right: 60px;
    border-radius: 15px;
}

.label-1 {
    font-size: x-large;
}

#head-1a {
    font-size: small;
}